.contacts {
  height: 818px;
  min-width: 260px;
  margin: 0 auto 39px auto;
  display: block;
}

.contacts__header {
  font-size: 18px;
  display: block;
  width: 260px;
  margin: 0 auto 27px auto;
}

.contacts__data {
  color: $primary-color;
  display: flex;
  font-size: 14px;
  min-width: 260px;
  margin: 0 auto 30px auto;

  &--address {
    height: 85px;
    margin-bottom: 67px;
  }
}

.contacts__data-header {
  width: 76px;
  font-size: 14px;
}

.contacts__data-address-content {
  display: inline-block;
  max-width: 183px;
  vertical-align: middle;
}

.contacts__data-email-link {
  color: $primary-color;
  border-bottom: 1px solid $style-color;
  box-sizing: border-box;
  height: 30px;
  max-width: 183px;

  &:hover {
    color: $style-color-additional2;
    border-bottom: 1px solid $style-color-additional2;
  }

  &:active {
    border-bottom: 1px solid $style-color-additional2-10;
  }
}

.contacts__map-link {
  width: 320px;
  height: 455px;
  display: block;
  text-align: center;
  margin: 0 auto 42px auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;
    left: 138px;
    top: 145px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;

    &::after {
      left: 363px;
      top: 139px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;

    &::after {
      left: 239px;
      top: 145px;
    }
  }
}

.contacts__map-img {
  width: 320px;
  height: 455px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 527px;
  }
}

.contacts__button {
  color: $primary-color;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 230px;
  }
}
