.contacts {
  height: 818px;
  min-width: 260px;
  margin: 0 auto 39px auto;
}

.contacts__header {
  font-size: 18px;
  display: block;
  width: 260px;
  margin: 0 auto 27px auto;
}

.contacts__data {
  color: $primary-color;
  display: block;
  font-size: 14px;
  width: 260px;
  margin: 0 auto 30px auto;
}

.contacts__data-header {
  display: inline-block;
  width: 76px;
  font-size: 14px;
  vertical-align: middle;

  &--address {
    margin-bottom: 95px;
  }
}

.contacts__data-address-content {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
}

.contacts__data-email-link {
  color: $primary-color;
  border-bottom: 1px solid $style-color;
  box-sizing: border-box;
  height: 30px;
  max-width: 183px;

  &:hover {
    color: $style-color-additional2;
    border-bottom: 1px solid $style-color-additional2;
  }

  &:active {
    border-bottom: 1px solid $style-color-additional2-10;
  }
}

.contacts__map-link {
  min-width: 320px;
  min-height: 455px;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;
    left: 138px;
    top: 145px;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    min-height: 457px;
  }

  @media (min-width: $desktop-width) {
    min-width: 527px;
    min-height: 457px;
  }
}

.contacts__map-img {
  min-width: 320px;
  min-height: 455px;
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    min-height: 457px;
  }

  @media (min-width: $desktop-width) {
    min-width: 527px;
    min-height: 457px;
  }
}


.contacts__button {
  color: $primary-color;
  margin: 0 auto;
  width: 260px;
}
