.contacts {
  width: 260px;
  height: 818px;
  display: flex;
  flex-direction: column;
}

.contacts__header {
  font-size: 18px;
  margin: 0;
}

.contacts__email,
.contacts__address {
  color: $primary-color;
  display: flex;
  font-size: 14px;
}

.contacts__email-header,
.contacts__address-header {
  width: 76px;
  font-size: 14px;
}

.contacts__email-link {
  color: $primary-color;
  border-bottom: 1px solid $style-color;
  box-sizing: border-box;
  height: 30px;

  &:hover {
    color: $style-color-additional2;
    border-bottom: 1px solid $style-color-additional2;
  }

  &:active {
    border-bottom: 1px solid $style-color-additional2-10;
  }
}

.contacts__map-link {
  width: 320px;
}

.contacts__button {
  color: $primary-color;
}
