.desc-main {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 1050px;
  height: 760px;
  margin-bottom: 62px;

  .container {
    box-sizing: border-box;

    @include outline;
  }

  @media (min-width: $tablet-width) {
    height: 520px;
    min-width: 668px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.desc-main__header {
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    margin-bottom: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
    margin-left: 175px;
  }
}

.desc-main__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include list-drop-style;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 630px;
    height: 355px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    margin-left: 175px;
  }
}

.desc-main__list-item {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  max-width: 260px;
  margin-bottom: 83px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 22px;
  }

  &--ecology {
    &::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 38px;
      top: -55px;
      left: 8px;
      background-image: url("../img/icon-ecology.svg");
      background-repeat: no-repeat;
    }
  }

  &--scandinavian {
    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 27px;
      top: -55px;
      left: 0;
      background-image: url("../img/icon-scandinavian.svg");
      background-repeat: no-repeat;
    }
  }

  &--likes {
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 27px;
      top: -53px;
      left: 7px;
      background-image: url("../img/icon-likes.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--knitting {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 34px;
      top: -55px;
      left: 3px;
      background-image: url("../img/icon-knitting.svg");
      background-repeat: no-repeat;
    }
  }

  &--domestic {
    @media (min-width: $tablet-width) {
      max-width: 325px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 23px;
      top: -55px;
      left: -6px;
      background-image: url("../img/icon-domestic.svg");
      background-repeat: no-repeat;
    }
  }

  &--packaging {
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 33px;
      height: 32px;
      top: -55px;
      left: 3px;
      background-image: url("../img/icon-packaging.svg");
      background-repeat: no-repeat;
    }
  }
}
