.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 373px;
  background-size: 100%;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
}

.features__title {
  width: 260px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}
