.features {
  width: 568px;
  height: 373px;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
}

.features__wrapper {
  width: 260px;
}

.features__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}
