.features-list {
  display: block;
  min-width: 320px;

  @include list-drop-style;
  color: $basic-white;
  font-weight: bold;
}

.features-list__item {
  display: block;

  a {
    min-width: 260px;
    color: $basic-white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 19px;
    line-height: 24px;
    height: 103px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      right: 30px;
    }
  }

  &:hover {
    height: 108px;
  }

  &--interior {
    background-color: $style-color;

    a::after {
      width: 40px;
      height: 62px;
      top: 23px;
      right: 35px;
      background-image: url("../img/interior.svg");
    }
  }

  &--toy {
    background-color: $style-color-additional1;

    a::after {
      width: 60px;
      height: 60px;
      top: 21px;
      right: 28px;
      background-image: url("../img/toy.svg");
    }
  }
}
