.features {
  min-width: 320px;
  height: 489px;
  background-size: 100%;
  background-position: 0 -17%;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    background-position: 0 37%;
    background-size: 100%;
    background-image: url("../img/hero-tablet.png");
  }

  @media (min-width: $desktop-width) {
    background-position: 0 40%;
    background-size: 100%;
    background-image: url("../img/hero-desktop.png");
  }
}

.features__title {
  display: block;
  width: 260px;
  height: 210px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}
