.footer-main-copyright {
  width: 182px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  height: 80px;
  margin: 6px auto 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    height: 80px;
  }
}

.footer-main-copyright__link {
  display: flex;
  width: 182px;
  align-items: center;
  color: $basic-black;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 35px;
  }

  &:hover path {
    fill: $style-color-additional2;
  }

  &:active path {
    fill: $style-color-additional2-30;
  }
}

.footer-main-copyright__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  height: 35px;
}

.footer-main-copyright__img {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  padding: 0;
  margin: 0;
  transform: translate(0, -15%);
}
