.footer-main {
  display: block;
  height: 160px;
  background-size: auto;
  background-color: $image-background-color;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 143px;
  }

  .container {
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;
      height: 143px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      height: 145px;
    }
  }
}


.footer-main__logo-image {
  &:hover path {
    fill: $style-color-additional2;
  }

  &:active path {
    fill: $style-color-additional2-30;
  }
}

.footer-main__logo {
  display: block;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
