.footer-main {
  display: flex;
  height: 160px;
  flex-direction: column;
  width: 320px;
  background-color: $image-background-color;
  align-items: center;
}

.footer-main__logo-image {
  &:hover path {
    fill: $style-color-additional2;
  }

  &:active path {
    fill: $style-color-additional2-30;
  }
}

@media (max-width: $mobile-width-only) {
  .footer-main__logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer-main__logo {
    display: block;
  }
}
