.footer-main {
  display: flex;
  height: 160px;
  flex-direction: column;
  width: 320px;
  margin-left: -30px;
  background-color: $image-background-color;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .footer-main__logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer-main__logo {
    display: block;
  }
}
