.form {
  min-width: 260px;
}

.form__fieldset-container {
  padding: 0 30px;
  box-sizing: border-box;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    background-color: $image-background-color;
  }

  &--color {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      height: 304px;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 50px;
      height: 228px;
      margin-bottom: 50px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
      height: 228px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 53px;
    }
  }
}

.form__fieldset {
  border: none;
  margin: 0 auto;
  min-width: 260px;
  box-sizing: border-box;

  &--type {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      min-width: $tablet-width;
      height: 175px;
      margin-right: auto;
      margin-left: auto;
      width: 768px;
      margin-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
      width: 1150px;
      padding: 0 50px;
      margin-bottom: 0;
    }
  }

  &--color {
    padding: 0;
    min-width: 260px;
    height: 385px;

    @media (min-width: $tablet-width) {
      height: 228px;
      width: 668px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 228px;
    }
  }

  &--name {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      //min-width: $tablet-width;
      height: 185px;
      margin-right: auto;
      margin-left: auto;
      width: 768px;
      margin-bottom: 68px;
      //padding-top: 66px;
    }

    @media (min-width: $desktop-width) {
      width: 1150px;
      padding: 0 50px;
    }
  }

  &--contacts {
    padding: 0;
    margin-bottom: 37px;
    min-width: 260px;
    height: 70px;

    @media (min-width: $tablet-width) {
      margin-bottom: 26px;
      height: 50px;
      width: 668px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 50px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--additional {
    height: 180px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin-bottom: 53px;
      height: 145px;
      width: 668px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 147px;
      margin-bottom: 40px;
    }
  }
}

.form__legend {
  width: 100%;
  min-width: 260px;
  height: 16px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $style-color;
  margin-bottom: 30px;
  padding: 0;
  text-transform: uppercase;
  display: block;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 0;
    width: 170px;
    height: 128px;
    padding-top: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
  }

  &::after {
    content: "";
    position: absolute;
    min-width: 200px;
    width: calc(100% - 60px);
    display: block;
    height: 1px;
    left: 60px;
    top: 7px;
    border-top: 1px solid $style-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--email {
    @media (min-width: $desktop-width) {
      padding-left: 20px;
    }
  }

  &--email::after {
    min-width: 182px;
    width: calc(100% - 200px);
    left: 78px;
  }
}

.form__legend-name {
  @media (min-width: $desktop-width) {
    display: block;
    text-align: center;
  }

  &--contancts {
    width: 200px;
  }
}


.form__legend-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min-content;
  box-sizing: border-box;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: min-content;
    box-sizing: border-box;
  }
}

.form__fieldset--type .form__legend-container {
  height: 95px;

  @media (min-width: $tablet-width) {
    height: 125px;
    transform: translate(169px, -124px);
  }

  @media (min-width: $desktop-width) {
    height: 125px;
    transform: translate(175px, -128px);
  }
}

.form__fieldset--color .form__legend-container {
  height: 350px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    height: 228px;
    width: 462px;
    transform: translate(169px, -248px);
  }

  @media (min-width: $desktop-width) {
    height: 148px;
    width: 730px;
    transform: translate(173px, -148px);
  }
}

.form__fieldset--name .form__legend-container {
  display: flex;
  flex-direction: column;
  height: 253px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 204px;
    width: calc(100% - 169px);
    transform: translate(169px, -156px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(173px, -155px);
  }
}

.form__fieldset--contacts .form__label--tel,
.form__fieldset--contacts .form__label--email {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: calc(100% - 169px);
    transform: translate(169px, -50px);
  }

  @media (min-width: $desktop-width) {
    height: auto;
    transform: translate(173px, -50px);
  }
}

.form__fieldset--additional .form__label--textarea {
  width: 100%;
  max-width: 700px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 139px;
    width: calc(100% - 169px);
    transform: translate(169px, -72px);
  }

  @media (min-width: $desktop-width) {
    height: 141px;
    transform: translate(176px, -75px);
  }
}


.form__fieldset--color .form__legend {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    height: 228px;
  }

  @media (min-width: $desktop-width) {
    height: 128px;
    padding-left: 8px;
  }
}

.form__fieldset--name .form__legend {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 165px;
    //height: 228px;
  }
}

.form__fieldset--contacts .form__legend {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    //outline: 3px solid yellow;
    display: block;
    height: 50px;
  }
}

.form__fieldset--additional .form__legend {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    //outline: 3px solid yellow;
    display: block;
    height: 50px;
  }
}


.form__label {
  position: relative;
  line-height: 18px;
  min-width: 260px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
  height: 42px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    height: 52px;
    font-size: 19px;
    font-weight: bold;
  }

  &--radio,
  &--checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      width: 374px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      min-width: 203px;
    }
  }

  &--text,
  &--tel,
  &--email {
    height: auto;
    min-width: 260px;
    width: 100%;
    display: block;
    max-width: 700px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.form__label-name {
  font-weight: bold;
}

.form__label--text .form__label-name--first {
  width: 82px;
}

.form__label--text .form__label-name--second {
  width: 165px;
}

.form__label-name--control {
  display: flex;
  align-items: center;
  width: 200px;
  height: 42px;
  position: absolute;
  left: 61px;

  @media (min-width: $tablet-width) {
    left: 78px;
    width: auto;
  }
}

.form__control {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &--radio {
    width: 40px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    outline: none;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: $style-color;
      border-radius: 50%;
      box-sizing: border-box;
      border: none;
      transform: translate(63%, 61%);
      display: none;

      @media (min-width: $tablet-width) {
        width: 20px;
        height: 20px;
        transform: translate(66%, 63%);
      }
    }

    &:checked::after {
      display: block;
    }

    &:hover {
      border-color: $style-color;
    }

    &:active,
    &:focus {
      border-color: $basic-black-30;
    }
  }

  &--checkbox {
    height: 38px;
    width: 38px;
    border: 2px solid $primary-color;
    outline: none;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 21px;
      height: 11px;
      border-top: 1.5px solid $basic-black;
      border-right: 1.5px solid $basic-black;
      transform: translate(25%, 50%) rotate(135deg);
      display: none;

      @media (min-width: $tablet-width) {
        width: 29px;
        height: 16px;
      }
    }

    &:checked::after {
      display: block;
    }

    &:hover {
      border-color: $style-color;
    }

    &:active,
    &:focus {
      border-color: $basic-black-30;
    }
  }

  &--text {
    position: relative;
    border: none;
    outline: none;
    height: 50px;
    min-width: 260px;
    width: 100%;
    border-bottom: 2px solid $basic-black;
    font-family: inherit;
    line-height: 18px;
    font-size: 17px;
    color: $primary-color;
    //display: block;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      padding-left: 15px;
      box-sizing: border-box;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 2px solid $style-color;
    }

    &::placeholder {
      color: $basic-black-30;
    }
  }
}

.form__control--connect-icon-tel {
  width: 25px;
  height: 24px;
  right: 7px;
  bottom: 15px;

  @media (min-width: $tablet-width) {
    bottom: 17px;
    right: 27px;
  }
}

.form__control--connect-icon-email {
  width: 32px;
  height: 21px;
  right: 4px;
  bottom: 15px;

  @media (min-width: $tablet-width) {
    bottom: 15px;
    right: 23px;
  }
}

.form__control--connect-icon-tel,
.form__control--connect-icon-email {
  position: absolute;

  & path {
    opacity: 0.2;
  }

  &:hover path {
    fill: $style-color;
    opacity: 1;
  }
}

.form__control--connect {
  &:focus-within + .form__control--connect-icon path,
  &:focus + .form__control--connect-icon path,
  &:active + .form__control--connect-icon path,
  &:hover + .form__control--connect-icon path {
    fill: $style-color;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    background-color: $image-background-color;
  }
}

.form__control--textarea {
  resize: none;
  width: calc(100% - 3px);
  height: 140px;
  border: none;
  font-family: inherit;
  line-height: 18px;
  font-size: 17px;
  outline: 2px solid $primary-color;
  box-sizing: border-box;
  padding: 17px 0 0 17px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 2px solid $style-color;
  }

  &::placeholder {
    color: $basic-black-30;
  }
}

.form__additional-container {
  height: 95px;
  padding: 0 30px;
  margin-bottom: 55px;
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 668px;
    height: 46px;
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 52px;
  }
}

.form__comment {
  font-size: 14px;
  line-height: 16px;
  color: $primary-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__submit {
  color: $primary-color;
  background-color: $basic-white;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    min-width: 230px;
    width: 230px;
  }
}
