.form-size {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 260px;
}

.form-size__fieldset {
  border: none;
  padding: 0;
  min-width: 260px;
  height: 103px;
  margin: 0 0 31px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7px;
}

.form-size__title {
  color: $primary-color;
  font-size: 15px;
  width: auto;
  padding: 0;
  margin: 0 auto;
  grid-area: 1 / 1 / 2 / 4;
}

.form-size__label {
  font-size: 17px;
  line-height: 16px;
  color: $primary-color;
  width: 82px;
  height: 52px;
  position: relative;
}

.form-size__checkbox {
  appearance: none;
  width: 82px;
  height: 52px;
  border: 2px solid $primary-color-10;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  outline: none;

  &:hover {
    border-color: $primary-color-30;
  }

  &:active {
    border-color: $style-color;
  }

  &:checked {
    border-color: $modal-form-checked-color;
  }
}

.form-size__checkbox-name {
  position: absolute;
  left: 50%;
  bottom: 50%;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  transform: translate(-50%, 50%);
}

.form-size__submit {
  background-color: $style-color;
  color: $basic-white;
  outline: none;
  border: none;
  margin: 0 auto;

  &:hover {
    background-color: $style-color;
    color: $basic-white;
  }

  &:active {
    background-color: $style-color;
    color: $basic-white;
  }
}
