.header-nav {
  margin: 0;
  min-width: 320px;
  min-height: 76px;
  position: relative;
  display: flex;
  flex-direction: column;

  .header-nav--opened {
    max-height: 395px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    height: 131px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    z-index: 1;
    height: 131px;
    align-items: center;
  }
}

.header-nav__toggle {
  position: absolute;
  display: block;
  z-index: 2;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  right: 30px;
  top: 29px;
  background-color: $basic-white;
  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav--opened .header-nav__toggle {
  top: 30px;
  right: 29px;
  width: 22px;
  height: 21px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 27px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header-nav--closed .header-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: black;
  box-shadow: 0 6px 0 0 $basic-black, 0 12px 0 0 $basic-black;
}

.header-nav__form {
  font-weight: bold;
  height: 76px;
  min-width: 260px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid $outline-light-color;
  order: 0;

  @media (min-width: $tablet-width) {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: auto;
    min-width: 0;
    width: 82px;
    height: 89px;
    border-left: 1px solid $outline-light-color;
    border-right: 1px solid $outline-light-color;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    order: 30;
  }
}

.header-nav__form-label {
  cursor: pointer;
  position: relative;
  min-width: 214px;
  padding-left: 76px;


  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}

.header-nav__form-icon {
  position: absolute;
  left: 32px;
  top: 6px;

  path {
    fill: $basic-black-20;
  }

  &:hover path {
    fill: $style-color;
  }

  &:active path {
    fill: $style-color-30;
  }

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
  }
}

.header-nav__list {
  @include list-drop-style;

  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
  }
}

.header-nav__cart-link {
  font-weight: bold;
  color: $basic-black;
  line-height: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 79px;
  position: relative;
  border-top: 1px solid $outline-light-color;
  margin: 0;
  order: 0;

  & path {
    fill: $basic-black-20;
  }

  &:hover {
    color: $basic-black-60;

    & path {
      fill: $style-color;
    }
  }

  &:active {
    color: $basic-black-30;

    & path {
      fill: $style-color-30;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    max-width: 265px;
    margin-left: 15px;
    padding: 0;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    order: 40;
  }
}

.header-nav__cart-icon {
  position: absolute;
  left: 30px;
  transform: translate(0 50%);

  @media (min-width: $tablet-width) {
    left: 20px;
  }
}

.header-nav__cart-wrapper {
  display: block;
  margin-left: 76px;
  max-width: 214px;

  @media (min-width: $tablet-width) {
    margin-left: 70px;
  }
}

.header-nav__delivery-info {
  color: $primary-color;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    font-size: 15px;
    line-height: 24px;
    bottom: -50%;
    right: 0;
  }
}


.header-nav__form-name {
  line-height: 24px;

  @media (max-width: $mobile-width-only) {
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav__form-input {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .header-nav--closed .header-nav__list,
  .header-nav--closed .header-nav__form,
  .header-nav--closed .header-nav__cart-link {
    display: none;
  }
}
