.page-header {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 89px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    width: 1050px;
    margin: 0 auto;
  }
}
