.page-catalog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-catalog__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  background-color: $image-background-color;
  min-width: 320px;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    height: 225px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 78px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 24px;
      width: 100%;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 250px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 10px;
    margin-bottom: 130px;

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      height: 34px;
      width: 100%;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}
