.page-catalog {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.page-catalog__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 177px;
  background-color: $image-background-color;
  width: 320px;
  font-size: 27px;
}
