.page-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-form__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 177px;
  min-width: 320px;
  background-color: $image-background-color;
  font-size: 27px;
  margin-bottom: 54px;
  border-top: 1px solid $outline-light-color;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 238px;
    margin-bottom: 99px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      height: 24px;
      width: 100%;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 272px;

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      height: 34px;
      width: 100%;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}

.page-form__subtitle {
  color: $primary-color;
  font-size: 13px;
  line-height: 24px;
  min-width: 260px;
  max-width: 480px;
  margin: 0 auto 29px auto;
  box-sizing: border-box;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 63px;
    width: 768px;
    max-width: 768px;
    height: 50px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
