.page-body {
  display: grid;
  //background-color: $style-color;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-size: 17px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $basic-white;
  padding-left: 30px;
  padding-right: 30px;
}
