.product-main {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $primary-color;
  height: 795px;
  width: 260px;

  @include block-underline;
}

.product-main__label {
  font-weight: bold;
  color: $style-color;
  line-height: 20px;
  text-transform: uppercase;
}

.product-main__desc {
  font-size: 15px;
  line-height: 24px;
}

.product-main__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.product-main__table-title {
  float: left;
  clear: left;
  width: 97px;
}
