.product-main {
  position: relative;
  color: $primary-color;
  min-height: 795px;
  min-width: 260px;
  display: block;
  margin-bottom: 31px;

  @include block-underline;
}

.product-main__header {
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    font-size: 43px;
    line-height: 50px;
    min-width: 555px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product-main__label {
  font-weight: bold;
  color: $style-color;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 1px 0;
  height: 39px;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product-main__desc {
  margin: 0 auto 18px 0;
  font-size: 15px;
  line-height: 24px;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
  }

  @media (min-width: $desktop-width) {

  }
}

.product-main__image {
  margin: 0 auto 27px auto;
  display: block;
  width: 260px;
  height: 315px;
}

@media (min-width: $tablet-width) {
  .product-main__image {
    width: 334px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .product-main__image {
    width: 526px;
    height: 636px;
  }
}


.product-main__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 auto 25px auto;
  display: block;
  text-align: center;
}

.product-main__table {
  font-size: 15px;
  line-height: 20px;
  display: grid;
  margin: 0 0 28px 0;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  min-width: 260px;
}

.product-main__table-title {
  min-width: 97px;
  border-bottom: 1px solid $outline-light-color;
  margin: 0;
  display: flex;
  align-items: center;
  height: 39px;
}

.product-main__table-desc {
  margin: 0;
  min-width: 163px;
  border-bottom: 1px solid $outline-light-color;
  display: flex;
  align-items: center;
  height: 39px;
}

.product-main__order-link {
  margin: 0 auto;
}
