.product-main {
  position: relative;
  color: $primary-color;
  min-height: 795px;
  min-width: 260px;
  max-width: 1050px;
  display: block;
  margin-bottom: 31px;

  @include block-underline;

  @media (min-width: $tablet-width) {
    min-height: 573px;
    min-width: 668px;
    padding: 0 50px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 732px;
    padding: 0 50px;
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-main__content-container {
  display: block;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 573px;
    align-content: space-between;
    align-items: stretch;
    min-width: 668px;
  }

  @media (min-width: $desktop-width) {
    height: 636px;
    justify-content: flex-end;
    align-content: flex-end;
  }
}

.product-main__header {
  color: $basic-black;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    width: 292px;
    margin-bottom: 33px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
    z-index: 1;
  }
}

.product-main__label {
  font-weight: bold;
  color: $style-color;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    width: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    //height: 50px;
    margin: 7px 13px 42px auto;
    order: 10;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    height: 570px;
    margin: 0 42px 0 0;
  }
}

.product-main__desc {
  margin: 0 auto 18px 0;
  font-size: 15px;
  line-height: 24px;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 0 29px 0;
    height: 100px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 36px 0;
  }
}

.product-main__image {
  background-color: $image-background-color;
  margin: 0 auto 27px auto;
  display: block;
  width: 260px;
  height: 315px;
}

@media (min-width: $tablet-width) {
  .product-main__image {
    width: 334px;
    height: 404px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    order: 20;
  }
}

@media (min-width: $desktop-width) {
  .product-main__image {
    width: 526px;
    height: 636px;
  }
}


.product-main__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 auto 25px auto;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 292px;
    margin: 0 0 33px 0;
  }
}

.product-main__table-container {
  display: block;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: middle;
    width: 292px;
    margin: 0 0 57px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 57px 117px 0;
  }
}

.product-main__table {
  font-size: 15px;
  line-height: 20px;
  display: grid;
  margin: 0 0 28px 0;
  grid-template-rows: 40px 40px 40px;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0;
  min-width: 260px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin: 0;
  }
}

.product-main__table-title {
  min-width: 97px;
  border-bottom: 1px solid $outline-light-color;
  margin: 0;
  display: flex;
  align-items: center;
  height: 39px;

  @media (min-width: $tablet-width) {
    width: 95px;
  }
}

.product-main__table-desc {
  margin: 0;
  min-width: 163px;
  border-bottom: 1px solid $outline-light-color;
  display: flex;
  align-items: center;
  height: 39px;
}

.product-main__order-link {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 292px;
  height: 52px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  outline: 2px solid $primary-color;
  outline-offset: -2px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
