.regular-button {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 292px;
  height: 52px;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  outline: 2px solid $primary-color;
  outline-offset: -2px;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $basic-white;
  }

  &:active {
    background-color: $primary-color;
    color: $basic-white-30;
  }
}
