.slider-nav {
  display: flex;
  min-width: 260px;
  margin-bottom: 38px;
}

.slider-nav__button {
  width: 130px;
  height: 52px;
  border: 1px solid $outline-light-color;
  cursor: pointer;
  background: transparent no-repeat left 50% top 50%;

  &:focus {
    outline: none;
  }

  &:hover path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.3;
  }
}
