.slider-nav {
  display: flex;
  width: 260px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin-bottom: 0;
  }
}

.slider-nav__button {
  width: 130px;
  height: 52px;
  border: 1px solid $outline-light-color;
  cursor: pointer;
  background: transparent no-repeat left 50% top 50%;

  @media (min-width: $tablet-width) {
    border: none;
    width: 90px;
  }

  &:focus {
    outline: none;
  }

  &:hover path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.3;
  }
}
