.social-list {
  display: flex;
  justify-content: space-around;
  width: 142px;
  height: 80px;
  align-items: center;
}

.social-list__link {
  width: 22px;
  height: 21px;

  &:hover path {
    fill: $style-color-additional2;
  }

  &:active path {
    fill: $style-color-additional2-30;
  }
}
