.video-player {
  position: relative;
}

.video-player__control {
  width: 101px;
  height: 77px;
  background-color: transparent;
  outline: none;
  border: none;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  left: 78px;
  top: 36px;

  @media (min-width: $tablet-width) {
    left: 283px;
    top: 191px;
  }

  @media (min-width: $desktop-width) {
    left: 292px;
    top: 191px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.video-player img {
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    max-height: 455px;
  }
}
