a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  max-width: 1150px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  background-color: $basic-white;
}

.container {
  min-width: 320px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}
