$primary-color: #444444;
$style-color:  #62d1ba;
$style-color-30:  rgba(98, 209, 186, 0.3);
$style-color-60:  rgba(98, 209, 186, 0.6);
$style-color-additional:  #56c3b2;
$style-color-footer:  #46c1ae;
$style-color-footer-30: rgba(70, 193, 174, 0.3);
$image-background-color: #f1f1f1;
$basic-black: #000000;
$basic-black-10: rgba(0, 0, 0, 0.1);
$basic-black-20: rgba(0, 0, 0, 0.2);
$basic-black-30: rgba(0, 0, 0, 0.3);
$basic-black-60: rgba(0, 0, 0, 0.6);
$basic-white: #ffffff;
$basic-white-30: rgba(255, 255, 255, 0.3);
$outline-light-color: #ececec;
$placeholder-default-color: rgba(0, 0, 0, 0.3);


$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
